/* .vl {
    border-left: 6px solid green;
    height: 
    500px;
    position: absolute;
    left: 50%;
    top: 2rem;
    margin-left: -3px;
    top: 0;
  } 
  .experiance_header{
    display: flex;
    justify-content: center;
  } */